node_modules
lerna-debug.log
npm-debug.log
packages/*/lib
packages/*/dist
.idea
packages/*/coverage
.vscode/
dist
serviceAccount.json
appEngineKey.json
**.log
firebase.vars.js
packages/data-analyzer/output.txt
dist.perm
dist.crx
dist.pem

dist.zip
env_variables.yaml

packages/data-analyzer/.env

.firebase/
