@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  height: 600px;
  width: 800px;
  padding: 0;
  margin: 0;
  background: #6B955C;
  font-family: "Trebuchet MS", "Lucida Grande", sans-serif;
  color: #E5E2E2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  padding: 30px;
}
